@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: rgb(255, 255, 255);
	background: #0d1117;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 5px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	@apply rounded-3xl bg-blue-500;
}

.scrollbar-gutter {
	scrollbar-gutter: stable;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: #fff;
	transition: background-color 5000s ease-in-out 0s;
	box-shadow: inset 0 0 20px 20px #000;
}
.cube {
	transform-style: preserve-3d;
}
.button-icon:hover .cube {
	transform: rotateX(90deg);
}

.side {
	@apply absolute h-[47px] w-44 flex text-sm justify-center items-center font-semibold;
}

.top {
	transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
	/* background: #222229; */
	transform: translate3d(0, 0, 0);
}
