@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: rgb(255, 255, 255);
	background: #0d1117;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 5px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	@apply rounded-3xl bg-blue-500;
}

.scrollbar-gutter {
	scrollbar-gutter: stable;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: #fff;
	transition: background-color 5000s ease-in-out 0s;
	box-shadow: inset 0 0 20px 20px #000;
}
.cube {
	transform-style: preserve-3d;
}
.button-icon:hover .cube {
	transform: rotateX(90deg);
}

.side {
	@apply absolute h-[47px] w-44 flex text-sm justify-center items-center font-semibold;
}

.top {
	transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
	/* background: #222229; */
	transform: translate3d(0, 0, 0);
}

.glitch {
	position: relative;
	color: #fff;
}

.glitch:before {
	left: 0;
	left: 2px;
	text-shadow: -2px 0 #ff00c1;
	clip: rect(44px, 450px, 56px, 0);
	animation: glitch-anim 5s linear infinite alternate-reverse;
}

.glitch:after,
.glitch:before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.glitch:after {
	left: 0;
	left: -2px;
	text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
	animation: glitch-anim2 1s linear infinite alternate-reverse;
}

@keyframes glitch-anim {
	0% {
		clip: rect(44px, 9999px, 36px, 0);
		transform: skew(0.66deg);
	}

	5% {
		clip: rect(48px, 9999px, 10px, 0);
		transform: skew(0.46deg);
	}

	10% {
		clip: rect(54px, 9999px, 17px, 0);
		transform: skew(0.56deg);
	}

	15% {
		clip: rect(56px, 9999px, 59px, 0);
		transform: skew(0.32deg);
	}

	20% {
		clip: rect(93px, 9999px, 77px, 0);
		transform: skew(0.86deg);
	}

	25% {
		clip: rect(51px, 9999px, 96px, 0);
		transform: skew(0.55deg);
	}

	30% {
		clip: rect(57px, 9999px, 85px, 0);
		transform: skew(0.99deg);
	}

	35% {
		clip: rect(21px, 9999px, 11px, 0);
		transform: skew(0.45deg);
	}

	40% {
		clip: rect(75px, 9999px, 54px, 0);
		transform: skew(0.71deg);
	}

	45% {
		clip: rect(20px, 9999px, 54px, 0);
		transform: skew(0.11deg);
	}

	50% {
		clip: rect(14px, 9999px, 18px, 0);
		transform: skew(0.1deg);
	}

	55% {
		clip: rect(52px, 9999px, 28px, 0);
		transform: skew(0.1deg);
	}

	60% {
		clip: rect(21px, 9999px, 2px, 0);
		transform: skew(0.33deg);
	}

	65% {
		clip: rect(11px, 9999px, 86px, 0);
		transform: skew(0.71deg);
	}

	70% {
		clip: rect(39px, 9999px, 74px, 0);
		transform: skew(0.45deg);
	}

	75% {
		clip: rect(43px, 9999px, 13px, 0);
		transform: skew(0.58deg);
	}

	80% {
		clip: rect(53px, 9999px, 56px, 0);
		transform: skew(0.88deg);
	}

	85% {
		clip: rect(70px, 9999px, 49px, 0);
		transform: skew(0.21deg);
	}

	90% {
		clip: rect(40px, 9999px, 25px, 0);
		transform: skew(0.07deg);
	}

	95% {
		clip: rect(81px, 9999px, 7px, 0);
		transform: skew(0.61deg);
	}

	to {
		clip: rect(74px, 9999px, 90px, 0);
		transform: skew(0.88deg);
	}
}

@keyframes glitch-anim2 {
	0% {
		clip: rect(71px, 9999px, 84px, 0);
		transform: skew(0.2deg);
	}

	5% {
		clip: rect(19px, 9999px, 94px, 0);
		transform: skew(0.84deg);
	}

	10% {
		clip: rect(93px, 9999px, 12px, 0);
		transform: skew(0.18deg);
	}

	15% {
		clip: rect(95px, 9999px, 91px, 0);
		transform: skew(0.21deg);
	}

	20% {
		clip: rect(80px, 9999px, 48px, 0);
		transform: skew(0.03deg);
	}

	25% {
		clip: rect(46px, 9999px, 44px, 0);
		transform: skew(0.06deg);
	}

	30% {
		clip: rect(28px, 9999px, 94px, 0);
		transform: skew(0.58deg);
	}

	35% {
		clip: rect(28px, 9999px, 4px, 0);
		transform: skew(0.23deg);
	}

	40% {
		clip: rect(37px, 9999px, 48px, 0);
		transform: skew(0.77deg);
	}

	45% {
		clip: rect(60px, 9999px, 69px, 0);
		transform: skew(0.97deg);
	}

	50% {
		clip: rect(36px, 9999px, 4px, 0);
		transform: skew(0.81deg);
	}

	55% {
		clip: rect(80px, 9999px, 90px, 0);
		transform: skew(0.06deg);
	}

	60% {
		clip: rect(7px, 9999px, 70px, 0);
		transform: skew(0.4deg);
	}

	65% {
		clip: rect(97px, 9999px, 12px, 0);
		transform: skew(0.2deg);
	}

	70% {
		clip: rect(14px, 9999px, 37px, 0);
		transform: skew(0.22deg);
	}

	75% {
		clip: rect(90px, 9999px, 42px, 0);
		transform: skew(0.13deg);
	}

	80% {
		clip: rect(83px, 9999px, 91px, 0);
		transform: skew(0.07deg);
	}

	85% {
		clip: rect(74px, 9999px, 11px, 0);
		transform: skew(0.74deg);
	}

	90% {
		clip: rect(84px, 9999px, 78px, 0);
		transform: skew(0.94deg);
	}

	95% {
		clip: rect(86px, 9999px, 1px, 0);
		transform: skew(0.69deg);
	}

	to {
		clip: rect(50px, 9999px, 7px, 0);
		transform: skew(0.2deg);
	}
}

@keyframes glitch-skew {
	0% {
		transform: skew(2deg);
	}

	10% {
		transform: skew(-3deg);
	}

	20% {
		transform: skew(5deg);
	}

	30% {
		transform: skew(2deg);
	}

	40% {
		transform: skew(-3deg);
	}

	50% {
		transform: skew(-2deg);
	}

	60% {
		transform: skew(5deg);
	}

	70% {
		transform: skew(0deg);
	}

	80% {
		transform: skew(-4deg);
	}

	90% {
		transform: skew(1deg);
	}

	to {
		transform: skew(0deg);
	}
}
